asgiref 
async
Babel 
backports
certifi 
click 
colorama 
cycler 
defusedxml 
distlib 
filelock 
Flask 
Flask
fonttools 
greenlet 
itsdangerous 
Jinja2 
joblib 
kiwisolver 
lz4 
mariadb 
MarkupSafe 
matplotlib 
mock 
mysqlclient 
numpy 
olefile 
packaging 
pandas 
pathtools 
Pillow 
platformdirs 
pyparsing 
python
python
pytz 
PyYAML 
scikit
scipy 
seaborn 
six 
SQLAlchemy 
threadpoolctl 
tornado 
typing_extensions 
virtualenv 
watchdog 
Werkzeug 
