<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>Flower Class Prediction</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="container contact-form">
      <div class="contact-image">
        <img
          src="https://image.ibb.co/kUagtU/rocket_contact.png"
          alt="rocket_contact"
        />
      </div>
      <form action="{{ url_for('predict')}}" method="post">
        <h3>PMKS Prediction</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                name="nama"
                class="form-control"
                placeholder="Masukan Nama Anda"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="alamat"
                class="form-control"
                placeholder="Masukan Alamat Anda"
                required="required"
              />
            </div>
            <div class="form-group">
              <select name="jenis_pmks" class="form-control" required>
                <option value="">-- Pilih Jenis PMKS --</option>
                <option value="0">Anak Dalam Kedistabilitasan</option>
                <option value="1">Bekas Warga Binaan Lembaga Kemasyarakatan</option>
                <option value="2">Fakir Miskin</option>
                <option value="3">Kelompok Minoritas</option>
                <option value="4">Keluarga Bermasalah Sosial Psikologi</option>
                <option value="5">Keluarga Berumah Tak Layak Huni</option>
                <option value="6">Korban Penyalahgunaan Napza</option>
                <option value="7">Lansia Terlantar</option>
                <option value="8">Pemulung</option>
                <option value="9">Penyandang Disabilitas</option>
                <option value="10">Perempuan Rawan Sosial Ekonomi</option>
                <option value="11">Tuna Susila</option>
              </select>
            </div>
            <div class="form-group">
              <select name="hubungan_dlm_keluarga" class="form-control" required>
                <option value="">-- Hubungan Dalam Keluarga --</option>
                <option value="0">Anak</option>
                <option value="1">Ibu</option>
                <option value="2">Kepala Keluarga</option>
              </select>
            </div>
            <div class="form-group">
              <input
                type="number"
                name="jml_tanggungan_kepala_keluarga"
                class="form-control"
                placeholder="Jumlah Tanggungan Kepala Keluarga"
                required="required"
              />
            </div>
            <div class="form-group">
              <select name="pendapatan_keluarga" class="form-control" required>
                <option value="">-- Pendapatan Keluarga --</option>
                <option value="2">Kurang (< Rp. 1.000.000)</option>
                <option value="1">Cukup (Rp. 1.000.000 – Rp. 2.000.000)</option>
                <option value="0">Baik (Rp. 2.000.000 – Rp. 3.000.000)</option>
                <option value="3">Sangat Baik (> Rp. 3.000.000)</option>
              </select>
            </div>
            <div class="form-group">
              <select name="status_rumah" class="form-control" required>
                <option value="">-- Status Rumah --</option>
                <option value="0">Kontrakan</option>
                <option value="1">Milik Sendiri</option>
              </select>
            </div>
            <div class="form-group">
              <select name="pekerjaan" class="form-control" required>
                <option value="">-- Pekerjaan --</option>
                <option value="0">ASN</option>
                <option value="1">Buruh</option>
                <option value="2">IRT</option>
                <option value="3">Karyawan Swasta</option>
                <option value="4">Pelajar</option>
                <option value="5">Pemulung</option>
                <option value="6">Pensiunan</option>
                <option value="7">Tidak Bekerja</option>
                <option value="8">Wiraswasta</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-large">
              Predict
            </button>
          </div>
        </div>
      </form>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
