<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>Flower Class Prediction</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="container contact-form">
      <div class="contact-image">
        <img
          src="https://image.ibb.co/kUagtU/rocket_contact.png"
          alt="rocket_contact"
        />
      </div>
      <form action="{{ url_for('predict')}}" method="post">
        <h3>PMKS Prediction</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                name="nama"
                class="form-control"
                placeholder="Masukan Nama Anda"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="alamat"
                class="form-control"
                placeholder="Masukan Alamat Anda"
                required="required"
              />
            </div>
            <div class="form-group">
              <select name="jenis_pmks" class="form-control">
                <option value="1">Anak Dalam Distablitasan</option>
                <option value="2">Anak Anjay</option>
              </select>
            </div>
            <div class="form-group">
              <select name="hubungan_dlm_keluarga" class="form-control">
                <option value="1">Anak</option>
                <option value="2">Bapak</option>
                <option value="3">Ibu</option>
              </select>
            </div>
            <div class="form-group">
              <input
                type="number"
                name="jml_tanggungan_kepala_keluarga"
                class="form-control"
                placeholder="jml_tanggungan_kepala_keluarga"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="number"
                name="pendapatan_keluarga"
                class="form-control"
                placeholder="pendapatan_keluarga"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="number"
                name="status_rumah"
                class="form-control"
                placeholder="status_rumah"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="number"
                name="pekerjaan"
                class="form-control"
                placeholder="pekerjaan"
                required="required"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-large">
              Predict
            </button>
          </div>
        </div>
      </form>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
