<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Flower Class Prediction</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css"
    />
  </head>

  <tbody>
    <div class="container-fluid contact-form rounded">
      <div class="contact-image">
        <img
          src="https://image.ibb.co/kUagtU/rocket_contact.png"
          alt="rocket_contact"
        />
      </div>
      <a href="{{ url_for('home') }}">
        <button class="btn btn-primary mb-3">Back</button>
      </a>
      <table id="table" class="table table-bordered table-striped">
        <h1>Data Kelayakan</h1>
        <thead class="alert alert-warning">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nama</th>
            <th scope="col">Alamat</th>
            <th scope="col">Jenis PMKS</th>
            <th scope="col">Hubungan Dalam Keluarga</th>
            <th scope="col">Jumlah Tanggungan Kepala Keluarga</th>
            <th scope="col">Pendapatan Keluarga</th>
            <th scope="col">Status Rumah</th>
            <th scope="col">Pekerjaan</th>
            <th scope="col">Layak</th>
          </tr>
        </thead>
        <body>
          {% for data in data %}
          <tr>
            <th scope="row">{{ data.id }}</th>
            <td>{{ data.nama }}</td>
            <td>{{ data.alamat }}</td>
            <td>
              {% if data.jenis_pmks == 0 %}
              <p>Anak Dalam Kedistabilitasan</p>
              {% elif data.jenis_pmks == 1 %}
              <p>Bekas Warga Binaan Lembaga Pemasyarakatan</p>
              {% elif data.jenis_pmks == 2 %}
              <p>Fakir Miskin</p>
              {% elif data.jenis_pmks == 3 %}
              <p>Kelompok Minoritas</p>
              {% elif data.jenis_pmks == 4 %}
              <p>Keluarga Bermasalah Sosial Psikologi</p>
              {% elif data.jenis_pmks == 5 %}
              <p>Keluarga Berumah Tak Layak Huni</p>
              {% elif data.jenis_pmks == 6 %}
              <p>Korban Pernyalahgunaan Napza</p>
              {% elif data.jenis_pmks == 7 %}
              <p>Lansia Terlantar</p>
              {% elif data.jenis_pmks == 8 %}
              <p>Pemulung</p>
              {% elif data.jenis_pmks == 9 %}
              <p>Penyandang Disabilitas</p>
              {% elif data.jenis_pmks == 10 %}
              <p>Perempuan Rawan Sosial Ekonomi</p>
              {% else %}
              <p>Tuna Susila</p>
              {% endif %}
            </td>
            <td>
              {% if data.hubungan_dlm_keluarga == 0 %}
              <p>Anak</p>
              {% elif data.hubungan_dlm_keluarga == 1 %}
              <p>Ibu</p>
              {% else %}
              <p>Kepala Keluarga</p>
              {% endif %}
            </td>
            <td>{{ data.jml_tanggungan_kepala_keluarga }}</td>
            <td>
              {% if data.pendapatan_keluarga == 0 %}
              <p>Baik</p>
              {% elif data.pendapatan_keluarga == 1 %}
              <p>Cukup</p>
              {% elif data.pendapatan_keluarga == 2 %}
              <p>Kurang</p>
              {% else %}
              <p>Sangat Baik</p>
              {% endif %}
            </td>
            <td>{% if data.status_rumah == 0 %}
              <p>Kontrakan</p>
              {% else %}
              <p>Milik Sendiri</p>
              {% endif %}
            </td>
            <td>{% if data.pekerjaan == 0 %}
              <p>ASN</p>
              {% elif data.pekerjaan == 1 %}
              <p>Buruh</p>
              {% elif data.pekerjaan == 2 %}
              <p>IRT</p>
              {% elif data.pekerjaan == 3 %}
              <p>Karyawan Swasta</p>
              {% elif data.pekerjaan == 4 %}
              <p>pelajar</p>
              {% elif data.pekerjaan == 5 %}
              <p>Pemulung</p>
              {% elif data.pekerjaan == 6 %}
              <p>Pensiunan</p>
              {% elif data.pekerjaan == 7 %}
              <p>Tidak Bekerja</p>
              {% else %}
              <p>Wiraswasta</p>
              {% endif %}
            </td>
            <td>
              {{ data.layak | replace("[", "") | replace("]", "") | replace("'",
              "") }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#table").DataTable();
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
  </body>
</html>
